@page "/"
@page "/home"
<PageTitle>Home</PageTitle>

<div>
    <div class="card card-body d-flex p-5"
        style="justify-content:right; color:#053B50">
        <h2 class="mb-2 fw-bolder text-start">Contact Manager</h2>
        <p class="text-start mb-5">Effortlessly organize your contacts, never miss a connection, and stay in touch with ease. Try our Contact Manager App today and streamline your network like never before!</p>
        
        <a href="/pricing" role="button" class="btn btn-primary fs-4 me-auto text-decoration-none">Get Started</a>
    </div>
</div>


