@page "/"
@page "/home"
<PageTitle>Home</PageTitle>

<div>
    <div class="p-5 blur-box" 
        style="color:#053B50; backdrop-filter: blur(20px)">
        <h2 class="mb-3 fw-bolder text-start">Contact Manager</h2>
        <p class="text-start mb-5">Effortlessly organize your contacts, never miss a connection, and stay in touch with ease. Try our Contact Manager App today and streamline your network like never before!</p>
        
        <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/pricing" Size="Size.Large">Get Started</Button>
    </div>
</div>


