@page "/pricing"
<PageTitle>Price</PageTitle>


<div class="container mt-auto">
	<div class="row gap-5">
		<div class="col bg-light rounded-3 p-5">
			<div class="border-3 border-bottom mb-4" style="color:#D8D9DA">
				<h2 class="mb-3 text-center" style="color:#053B50">Free</h2>
				<p class="mb-4 text-secondary fs-6 text-center">$0 per month</p>
				<p class="mb-5 text-secondary fs-6 text-center">For bussines just getting started</p>
				<div class="text-center mb-3"><a href="/people" role="button" class="btn btn-primary fs-6 text-decoration-none ps-4 pe-4 pt-2 pb-2">Start for free</a></div>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					 <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Info Storage</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Grouping</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					 <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Search and Filters</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-red">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Import and Export</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-red">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
				<p class="m-0" style="color: #176B87;">Interaction History</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-red">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
				<p class="m-0" style="color: #176B87;">Synchronization and Backup</p>
			</div>
		</div>
		<div class="col bg-light rounded-3 p-5">
			<div class="border-3 border-bottom mb-4" style="color:#D8D9DA">
				<h2 class="mb-3 text-center" style="color:#053B50">Bussines</h2>
				<p class="mb-4 text-secondary fs-6 text-center">$20 per month</p>
				<p class="mb-5 text-secondary fs-6 text-center">For bussines investing in team</p>
				<div class="text-center mb-3"><p class="text-primary fs-6 pt-2 pb-2">Soon!</p></div>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Info Storage</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Grouping</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<p class="m-0"style="color: #176B87;">Contact Search and Filters</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Import and Export</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<p class="m-0" style="color: #176B87;">Interaction History</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-red">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
				<p class="m-0" style="color: #176B87;">Synchronization and Backup</p>
			</div>
		</div>
		<div class="col bg-light rounded-3 p-5">
			<div class="border-3 border-bottom mb-4" style="color:#D8D9DA">
				<h2 class="mb-3 text-center" style="color:#053B50">Enterprise</h2>
				<p class="mb-4 text-secondary fs-6 text-center">$50 per month</p>
				<p class="mb-4 text-secondary fs-6 text-center">For bussines loking to build a lasting brand and drive growth</p>
				<div class="text-center mb-3"><p class="text-primary fs-6 pt-2 pb-2">Soon!</p></div>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Info Storage</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Grouping</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Search and Filters</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					 <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
				</svg>
				<p class="m-0" style="color: #176B87;">Contact Import and Export</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					 <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
				</svg>
				<p class="m-0" style="color: #176B87;">Interaction History</p>
			</div>
			<div class="d-flex align-items-center gap-2 mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="feature-icon-green">
					 <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
				</svg>
				<p class="m-0" style="color: #176B87;">Synchronization and Backup</p>
			</div>
		</div>
	</div>	
</div>
