@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center gap-3">
            <p class="mb-0 text-white">Hello, @context.User.Identity?.Name!</p>
            <button class="nav-link btn btn-link btn-primary text-white" @onclick="BeginSignOut">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex gap-3">
            <div class="btn btn-primary" role="button">
                <a href="authentication/login" class="text-white text-decoration-none">Log in</a>
            </div>
            <div class="btn btn-outline-secondary" role="button">
                <a href="#" class="text-decoration-none" style="color: #176B87;">About</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
